<?xml version="1.0" encoding="utf-8"?>
<config>
	<fields addfieldpath="/administrator/components/com_phocaemail/models/fields">
		<fieldset name="display" label="COM_PHOCAEMAIL_CONFIG_HEAD_MAIN_LABEL">
	
<field name="html_message" type="radio"  class="btn-group btn-group-yesno" default="1" label="COM_PHOCAEMAIL_FIELD_HTML_MESSAGE_LABEL" description="COM_PHOCAEMAIL_FIELD_HTML_MESSAGE_DESC">
	<option value="0">COM_PHOCAEMAIL_NO</option>
	<option value="1">COM_PHOCAEMAIL_YES</option>
</field>

<field name="display_users_list" type="radio"  class="btn-group btn-group-yesno" default="0" label="COM_PHOCAEMAIL_FIELD_DISPLAY_USERS_LIST_LABEL" description="COM_PHOCAEMAIL_FIELD_DISPLAY_USERS_LIST_DESC">
	<option value="0">COM_PHOCAEMAIL_NO</option>
	<option value="1">COM_PHOCAEMAIL_YES</option>
</field>
<field name="display_groups_list" type="radio"  class="btn-group btn-group-yesno" default="0" label="COM_PHOCAEMAIL_FIELD_DISPLAY_GROUPS_LIST_LABEL" description="COM_PHOCAEMAIL_FIELD_DISPLAY_GROUPS_LIST_DESC">
	<option value="0">COM_PHOCAEMAIL_NO</option>
	<option value="1">COM_PHOCAEMAIL_YES</option>
</field>
<field name="display_users_list_cc" type="radio"  class="btn-group btn-group-yesno" default="0" label="COM_PHOCAEMAIL_FIELD_DISPLAY_USERS_LIST_CC_LABEL" description="COM_PHOCAEMAIL_FIELD_DISPLAY_USERS_LIST_CC_DESC">
	<option value="0">COM_PHOCAEMAIL_NO</option>
	<option value="1">COM_PHOCAEMAIL_YES</option>
</field>

<field name="display_groups_list_cc" type="radio"  class="btn-group btn-group-yesno" default="0" label="COM_PHOCAEMAIL_FIELD_DISPLAY_GROUPS_LIST_CC_LABEL" description="COM_PHOCAEMAIL_FIELD_DISPLAY_GROUPS_LIST_CC_DESC">
	<option value="0">COM_PHOCAEMAIL_NO</option>
	<option value="1">COM_PHOCAEMAIL_YES</option>
</field>

<field name="display_users_list_bcc" type="radio"  class="btn-group btn-group-yesno" default="0" label="COM_PHOCAEMAIL_FIELD_DISPLAY_USERS_LIST_BCC_LABEL" description="COM_PHOCAEMAIL_FIELD_DISPLAY_USERS_LIST_BCC_DESC">
	<option value="0">COM_PHOCAEMAIL_NO</option>
	<option value="1">COM_PHOCAEMAIL_YES</option>
</field>

<field name="display_groups_list_bcc" type="radio"  class="btn-group btn-group-yesno" default="0" label="COM_PHOCAEMAIL_FIELD_DISPLAY_GROUPS_LIST_BCC_LABEL" description="COM_PHOCAEMAIL_FIELD_DISPLAY_GROUPS_LIST_BCC_DESC">
	<option value="0">COM_PHOCAEMAIL_NO</option>
	<option value="1">COM_PHOCAEMAIL_YES</option>
</field>


<field name="display_select_article" type="radio"  class="btn-group btn-group-yesno" default="0" label="COM_PHOCAEMAIL_FIELD_DISPLAY_SELECT_ARTICLE_LABEL" description="COM_PHOCAEMAIL_FIELD_DISPLAY_SELECT_ARTICLE_DESC">
	<option value="0">COM_PHOCAEMAIL_NO</option>
	<option value="1">COM_PHOCAEMAIL_YES</option>
</field>
	
	</fieldset>
	
	<fieldset name="newsletter" label="COM_PHOCAEMAIL_CONFIG_HEAD_NEWSLETTER_LABEL">
	
	
	<field name="enable_subscription" type="radio"  class="btn-group btn-group-yesno" default="0" label="COM_PHOCAEMAIL_FIELD_ENABLE_SUBSCRIPTION_LABEL" description="COM_PHOCAEMAIL_FIELD_ENABLE_SUBSCRIPTION_DESC">
	<option value="0">COM_PHOCAEMAIL_NO</option>
	<option value="1">COM_PHOCAEMAIL_YES</option>
</field>


<field name="phocahead1" type="phocahead" phocaimage="" default="COM_PHOCAEMAIL_CONFIG_NEWSLETTER_FORM_LABEL" label="" description=""/>

<field name="display_subscription_form" type="radio"  class="btn-group btn-group-yesno" default="0" label="COM_PHOCAEMAIL_FIELD_DISPLAY_SUBSCRIPTION_FORM_NEWSLETTER_LABEL" description="COM_PHOCAEMAIL_FIELD_DISPLAY_SUBSCRIPTION_FORM_NEWSLETTER_DESC">
	<option value="0">COM_PHOCAEMAIL_NO</option>
	<option value="1">COM_PHOCAEMAIL_YES</option>
</field>


<field name="display_mailing_list" class="btn-group" type="radio" default="0" label="COM_PHOCAEMAIL_FIELD_DISPLAY_MAILING_LIST_LABEL" description="COM_PHOCAEMAIL_FIELD_DISPLAY_MAILING_LIST_DESC">
	<option value="0">COM_PHOCAEMAIL_NO</option>
	<option value="1">COM_PHOCAEMAIL_YES</option>
</field>


<field 	name="display_name_form" class="btn-group" type="radio" default="2" label="COM_PHOCAEMAIL_FIELD_DISPLAY_NAME_FORM_LABEL" description="COM_PHOCAEMAIL_FIELD_DISPLAY_NAME_FORM_DESC">
	<option value="1">COM_PHOCAEMAIL_YES</option>
	<option value="2">COM_PHOCAEMAIL_YES_REQUIRED</option>
	<option value="0">COM_PHOCAEMAIL_NO</option>
</field>
		
<field 	name="display_privacy_checkbox_form" type="radio" class="btn-group" default="0" label="COM_PHOCAEMAIL_FIELD_DISPLAY_PRIVACY_CHECKBOX_FORM_LABEL" description="COM_PHOCAEMAIL_FIELD_DISPLAY_PRIVACY_CHECKBOX_FORM_DESC">
	<option value="1">COM_PHOCAEMAIL_YES</option>
	<option value="2">COM_PHOCAEMAIL_YES_REQUIRED</option>
	<option value="0">COM_PHOCAEMAIL_NO</option>
</field>

<field name="privacy_checkbox_text" default="" buttons="0" width="330" type="editor" filter="JComponentHelper::filterText" label="COM_PHOCAEMAIL_FIELD_PRIVACY_CHECKBOX_DESCRIPTION_LABEL" description="COM_PHOCAEMAIL_FIELD_PRIVACY_CHECKBOX_DESCRIPTION_DESC"/>
	

<field 	name="enable_captcha" type="radio" class="btn-group" default="0" label="COM_PHOCAEMAIL_FIELD_ENABLE_CAPTCHA_LABEL" description="COM_PHOCAEMAIL_FIELD_ENABLE_CAPTCHA_DESC">
	<option value="1">COM_PHOCAEMAIL_YES</option>
	<option value="0">COM_PHOCAEMAIL_NO</option>
</field>

<field name="recaptcha_sitekey" type="text" default="" label="COM_PHOCAEMAIL_FIELD_RECAPTCHA_SITEKEY_LABEL"  description="COM_PHOCAEMAIL_FIELD_RECAPTCHA_SITEKEY_DESC"/>  

<field name="recaptcha_privatekey" type="text" default="" label="COM_PHOCAEMAIL_FIELD_RECAPTCHA_PRIVATEKEY_LABEL" description="COM_PHOCAEMAIL_FIELD_RECAPTCHA_PRIVATEKEY_DESC"/>

<field name="recaptcha_request_method" type="list" class="btn-group btn-group-yesno" default="2" label="COM_PHOCAEMAIL_FIELD_RECAPTCHA_REQUEST_METHOD_LABEL" description="COM_PHOCAEMAIL_FIELD_RECAPTCHA_REQUEST_METHOD_DESC">
	<option value="1">file_get_contents</option>
	<option value="2">cUrl</option>
</field>

<field name="recaptcha_size" type="list" class="btn-group btn-group-yesno" default="2" label="COM_PHOCAEMAIL_FIELD_RECAPTCHA_SIZE_LABEL" description="COM_PHOCAEMAIL_FIELD_RECAPTCHA_SIZE_LABEL">
	<option value="1">COM_PHOCAEMAIL_NORMAL</option>
	<option value="2">COM_PHOCAEMAIL_COMPACT</option>
</field>	

<field name="session_suffix" default="" type="text" label="COM_PHOCAEMAIL_FIELD_SESSION_SUFFIX_LABEL" description="COM_PHOCAEMAIL_FIELD_SESSION_SUFFIX_DESC" />
	
	
	<field name="count_subscription" default="5" size="4" type="text" label="COM_PHOCAEMAIL_COUNT_SUBSCRIPTION_ATTEMPTS_LABEL" description="COM_PHOCAEMAIL_COUNT_SUBSCRIPTION_ATTEMPTS_DESC"/>
	
	<field name="site_name" default="" type="text" label="COM_PHOCAEMAIL_SITE_NAME_LABEL" description="COM_PHOCAEMAIL_SITE_NAME_DESC"/>
	
	<field name="subscription_name" default="" type="text" label="COM_PHOCAEMAIL_SUBSCRIPTION_NAME_LABEL" description="COM_PHOCAEMAIL_SUBSCRIPTION_NAME_DESC"/>
	
	<field name="from_name" default="" type="text" label="COM_PHOCAEMAIL_FROM_NAME_LABEL" description="COM_PHOCAEMAIL_FROM_NAME_DESC"/>
	
	<field name="email_from" default="" type="text" label="COM_PHOCAEMAIL_EMAIL_FROM_LABEL" description="COM_PHOCAEMAIL_EMAIL_FROM_DESC"/>
	
	<field name="activation_email" default="&lt;div&gt;Hello,&lt;br /&gt; &lt;br /&gt; You recently requested an email subscription to {subscriptionname}.&lt;br /&gt; Please confirm your subscription.&lt;/div&gt;
&lt;p&gt; &lt;/p&gt;
&lt;div&gt;&lt;a style=&quot;background: #0044cc; color: #fff; padding: 5px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;&quot; href=&quot;{activationlink}&quot;&gt;Click here to confirm your subscription to our newsletter&lt;/a&gt;
&lt;/div&gt;&lt;br /&gt;
&lt;div&gt;If the link above does not appear clickable or does not open a browser window when you click it,&lt;br /&gt; copy and paste following link into your web browser&#39;s Location bar:&lt;br /&gt;&lt;br /&gt; {activationlink}&lt;/div&gt;
&lt;br /&gt;
&lt;div style=&quot;color: #777;border-top:1px solid #777&quot;&gt;
&lt;div&gt;This message was sent to you by {sitename}.&lt;/div&gt;
&lt;div&gt;You received this message because you requested a subscription to the {subscriptionname}.&lt;/div&gt;
&lt;div&gt;If you received this in error, please disregard. Do not reply directly to this email.&lt;/div&gt;
&lt;/div&gt;" type="editor" label="COM_PHOCAEMAIL_ACTIVATION_EMAIL_LABEL" description="COM_PHOCAEMAIL_ACTIVATION_EMAIL_DESC" filter="JComponentHelper::filterText" />


<field name="unsubscribing_automatic_deletion" type="radio"  class="btn-group btn-group-yesno" default="0" label="COM_PHOCAEMAIL_FIELD_UNSUBSCRIBING_AUTOMATIC_DELETION_LABEL" description="COM_PHOCAEMAIL_FIELD_UNSUBSCRIBING_AUTOMATIC_DELETION_DESC">
	<option value="0">COM_PHOCAEMAIL_NO</option>
	<option value="1">COM_PHOCAEMAIL_YES</option>
</field>


	<field name="send_unsubscribe_email" type="radio"  class="btn-group btn-group-yesno" default="1" label="COM_PHOCAEMAIL_FIELD_SEND_UNSUBSCRIBE_EMAIL_LABEL" description="COM_PHOCAEMAIL_FIELD_SEND_UNSUBSCRIBE_EMAIL_DESC">
	<option value="0">COM_PHOCAEMAIL_NO</option>
	<option value="1">COM_PHOCAEMAIL_YES</option>
</field>

	<field name="unsubscribe_email" default="&lt;div&gt;Hello,&lt;br /&gt; &lt;br /&gt; You recently requested an unsubscription from our newsletter.&lt;br /&gt;This email confirms that you have been successfully unsubscribed from our newsletter.&lt;/div&gt;" type="editor" label="COM_PHOCAEMAIL_FIELD_UNSUBSCRIBE_EMAIL_LABEL" description="COM_PHOCAEMAIL_FIELD_UNSUBSCRIBE_EMAIL_DESC" filter="JComponentHelper::filterText" />
	
	
	<field name="description" default="" type="editor" label="COM_PHOCAEMAIL_MAIN_DESCRIPTION_LABEL" description="COM_PHOCAEMAIL_MAIN_DESCRIPTION_DESC" filter="JComponentHelper::filterText" />
	
	
	</fieldset>
	
	<fieldset name="permissions_label" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">

		<field name="rules" type="rules" component="com_phocaemail" filter="rules" label="COM_PHOCAEMAIL_FIELD_JCONFIG_PERMISSIONS_LABEL" section="component" description="COM_PHOCAEMAIL_FIELD_JCONFIG_PERMISSIONS_DESC"/>
	</fieldset>
	
	</fields>
</config>
